<p id="notice"><%= notice %></p>

<p>
  <b>Bridename:</b>
  <%= @user.bridename %>
</p>

<p>
  <b>Groomname:</b>
  <%= @user.groomname %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
