<div id="sitecontent">
		<div id="frontslideshow"><p>
			<div class="flexslider">
				<ul class="slides">
					<li>
						<iframe src="http://player.vimeo.com/video/33991803?byline=0&amp;portrait=0&amp;color=f7f6f4" width="860" height="484" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/33991803">Lisa + Sean - Wedding Trailer</a> from <a href="http://vimeo.com/yaisatangwell">Yaisa Tangwell Photography</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono002.jpg")%>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono003.jpg")%>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono004.jpg")%>
					</li>	
					<li>
						<%=image_tag("frontpage/ceylanjono005.jpg")%>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono006.jpg")%>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono007.jpg")%>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono008.jpg")%>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono009.jpg")%>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono010.jpg")%>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono011.jpg")%>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono012.jpg")%>
					</li>
					<li>
						<%=image_tag("frontpage/ceylanjono013.jpg")%>
					</li>
				</ul>
			</div>
		</div><!--frontslideshow -->
		
<div class="subheading row">	
	<div class="subtitle twelve columns">	
<h2 >WELCOME TO YAISA TANGWELL PHOTOGRAPHY</h2>
<p >Yaisa Tangwell photography is based in Trinidad &amp; Tobago and is led by Marcus and Yaisa, a husband and wife team.</p>
	</div><!--.subtitle -->
</div><!--.subheading -->

<div class="row">
	<div class="leftcontent six columns">
<p>Once a family of an accountant and IT consultant, our lives changed with the birth of our son, our passion for life took over. Photography being an instrument for capturing life, moments and making memories became our profession. </p><p>Specializing in wedding photography and with a team of photographers, we are passionate about preserving your memories with an infusion of styles and are always trying to push the envelop in attaining mind blowing imagery. We have a traditional, artistic and modern approach to photography.</p><p>We consider our photography to be art that is always evolving but never fading.</p>
<p>
	<a href="#"><img class="size-medium wp-image-132 alignleft" alt="YTP-header1.png" src="http://www.tntweddings.com/wp-content/uploads/2013/04/YTP-header1-300x67.png" width="300" height="67" /></a>
	</div><!--.leftcontent -->
	
		<div class= "rightcontent six columns">
			<div id="social-icons">
				<a href="https://twitter.com/yaisatangwell"><%= image_tag("twitter.png")%> </a>
				<a href="http://www.facebook.com/yaisatangwellphotography"><%= image_tag("facebook.png")%></a>
				<a href="http://www.vimeo.com/yaisatangwell"><%= image_tag("vimeo.png")%></a>
				<a href="http://www.googleplus.com/yaisatangwellphotography"><%= image_tag("googleplus.png")%></a>
				<a href="http://www.pinterest.com/yaisatangwell"><%= image_tag("pinterest.png")%></a>
			</div><!--social-icons-->
			
				<%= image_tag("frontpic.jpg", :class => "frontpic")%>
			
		</div><!--.rightcontent -->
		<div class= "bottomline twelve columns">
		</div><!--.bottomline -->
	</div><!--.row -->

	
</div><!-- sitecontent -->			






       