<% unless @recentpost.blank? %>
<div class="pad row">
	<div class="twelve columns">
		<h2> <%= link_to @recentpost.title, @recentpost %></h2>
		
		<div id="frontslideshow"><p>
			<div class="flexslider">
				<ul class="slides">
					<% @recentpost.blog_images.each do |img| %>
					<li>
						<%=  image_tag img.imagefile %>
					</li>
					<% end %>
				</ul>
			</div>		
		</div>
		
		
		<p>Posted on: <%= @recentpost.created_at %></p>
		<p><%= truncate(@recentpost.body) %>...<%= link_to 'see more', @recentpost %></p>
	   <p>Posted by: <%= @recentpost.user.username %></p>
	   <%= link_to 'Edit', edit_post_path(@recentpost) %>
		<%= link_to 'Destroy', @recentpost, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>

<% end %>

<div class="row">
	<div class="sidebarcontact four columns">
		<h3>Contact Us</h3>
		<%= form_tag("email", :method => "post") do %>
		  <%= label_tag(:q, "Name:") %>
		  <%= text_field_tag(:q) %>
		  <%= label_tag(:q, "Wedding Date:") %>
		  <%= text_field_tag(:q) %>
		  <%= label_tag(:q, "Email Address:") %>
		  <%= text_field_tag(:q) %>
		  <%= submit_tag("Send") %>
		<% end %>
		
	</div><!--four columns-->
  	
	<div class="eight columns">
		
		<% unless @recentpost.blank? %>
		
		<% @posts.slice!(0) %>
		
		<% end%>
		
		
		<% @posts.each_slice(2) do |slice| %>
		
		<div class="row">
			<% slice.each do |post| %>
			
				<div class="six columns">
   	 		   	 <%= link_to post.title, post %>
			   <% unless post.blog_images.first.blank? %>
			   <%=  image_tag post.blog_images.sample.imagefile %>
   				<% end %>
			   
	   			<p>Posted on: <%= post.created_at %></p>
    		   <p><%= truncate(post.body) %>...<%= link_to 'see more', post %></p>
    		   <p>Posted by: <%= post.user.username %></p>
    		   <%= link_to 'Edit', edit_post_path(post) %>
    			<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
			<% end %>
			
		</div>
		
	<% end %>
	</div><!--eight columns-->
	
</div><!--frontslideshow -->

<%= paginate @posts %>

<br />

<%= link_to 'New Post', new_post_path %>
