<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>Photo Gallery</title>
  
  
  <%= stylesheet_link_tag "gumby" %>
  <%= stylesheet_link_tag "home" %>
  
  <%= stylesheet_link_tag "flexslider.css", "fileuploader" %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

  
  <%= javascript_include_tag "jquery.flexslider" %>
  <!-- Place in the <head>, after the three links -->
  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>
    
  
 

<body class="" >
<div id="page_wrap" class="container row">	
	
	<header id="masthead" class="site-header" role="banner">
        <a class="hrimge" href="http://www.yaisatangwell.com/">
		<img src="http://www.tntweddings.com/wp-content/uploads/2013/04/YTP-header1.png" class="header-image1" width="329" height="74" alt="" /></a>
                
	</header><!-- #masthead -->

	<%= render "layouts/stdnavbar" %>
		
		
	<%= yield %>
	
	<%= render "layouts/bigftr" %>
	
</div><!--.pagewrap-->
	
	
</body>